branches/usingMongoDB/OMAR/radarParser/schema/ST_Track.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:st="http://www.suretrak21.com/ST_Track"
           targetNamespace="http://www.suretrak21.com/ST_Track"
           elementFormDefault="qualified">
    <!-- definition of simple elements -->

    <!--PBSS Threat track status.-->
    <xs:simpleType name="TRK_Threat_t">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0" /> <!-- "PENDING" -->
            <xs:enumeration value="1" /> <!-- "UNKNOWN" -->
            <xs:enumeration value="2" /> <!-- "ASSUMED_FRIEND" -->
            <xs:enumeration value="3" /> <!-- "FRIEND" -->
            <xs:enumeration value="4" /> <!-- "NEUTRAL" -->
            <xs:enumeration value="5" /> <!-- "SUSPECT" -->
            <xs:enumeration value="6" /> <!-- "HOSTILE" -->
        </xs:restriction>
    </xs:simpleType>

    <!--SDS Sensor track status.-->
    <xs:simpleType name="TRK_Status_t">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0" /> <!-- "TRK_TRACKING" -->
            <xs:enumeration value="1" /> <!-- "TRK_COASTING" -->
            <xs:enumeration value="2" /> <!-- "TRK_NEW" -->
            <xs:enumeration value="3" /> <!-- "TRK_STALE" -->
            <xs:enumeration value="4" /> <!-- "TRK_DELETE" -->
            <xs:enumeration value="5" /> <!-- "TRK_TRAIN_SIDING" -->
            <xs:enumeration value="6" /> <!-- "TRK_TRAIN_BLOCKED" -->
            <xs:enumeration value="63" /> <!-- "TRK_UNKNOWN" -->
        </xs:restriction>
    </xs:simpleType>

    <!-- Track Condition Status Mask Values -->
    <xs:simpleType name="TRK_Condition_t">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="63" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Types of acquistion modes. -->
    <xs:simpleType name="TRK_AcqMode_t">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0" /> <!-- "TRK_MANUAL" -->
            <xs:enumeration value="1" /> <!-- "TRK_AUTO" -->
            <xs:enumeration value="2" /> <!-- "TRK_GLOBAL" -->
        </xs:restriction>
    </xs:simpleType>

    <!-- Types of vessels. -->
    <xs:simpleType name="TRK_Vessel_t">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0" /> <!-- "TKR_P" -->
            <xs:enumeration value="1" /> <!-- "TKR_H" -->
            <xs:enumeration value="2" /> <!-- "TKR_G" -->
            <xs:enumeration value="3" /> <!-- "TOW_P" -->
            <xs:enumeration value="4" /> <!-- "TOW_H" -->
            <xs:enumeration value="5" /> <!-- "TOW_G" -->
            <xs:enumeration value="6" /> <!-- "FER" -->
            <xs:enumeration value="7" /> <!-- "GOVT" -->
            <xs:enumeration value="8" /> <!-- "UNK" -->
            <xs:enumeration value="9" /> <!-- "FREIGHT" -->
            <xs:enumeration value="10" /> <!-- "PASS" -->
            <xs:enumeration value="11" /> <!-- "UTIL" -->
            <xs:enumeration value="12" /> <!-- "VTS_MAX_VESSEL_TYPES" -->
        </xs:restriction>
    </xs:simpleType>

    <!-- definition of simple types -->
    <xs:simpleType name="kluster_t">
        <xs:restriction  base="xs:unsignedInt">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="255" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="port_t">
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="15" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="platform_t">
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="15" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="category_t">
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="255" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="amplification_t">
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="255" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="site_t">
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="255" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="radar_t">
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="15" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="trackID_t">
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="4095" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="userId_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="999999999" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="navStatus_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="15" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ROT_t">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-721" />
            <xs:maxInclusive value="+721" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="bLessThan10MetersError_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TypeOfPositionDevice_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="15" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="lat_t">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-90" />
            <xs:maxInclusive value="90" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="lon_t">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-180" />
            <xs:maxInclusive value="180" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="bCenterPositionValid_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeOfShip1_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="19" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeOfShip2_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="-1" />
            <xs:maxInclusive value="19" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="heading_t">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-360" />
            <xs:maxInclusive value="360" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="callSign_t">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="name21_t">
        <xs:restriction base="xs:string">
            <xs:maxLength value="21" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dimensionLength_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1022" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dimensionWidth_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="126" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="month_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="-1" />
            <xs:maxInclusive value="12" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="day_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="-1" />
            <xs:maxInclusive value="31" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="hour_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="-1" />
            <xs:maxInclusive value="23" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="minute_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="59" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="maxDraught_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="255" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="destination_t">
        <xs:restriction base="xs:string">
            <xs:maxLength value="21" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="altitude_t">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="13435" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="name33_t">
        <xs:restriction base="xs:string">
            <xs:maxLength value="33" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="name1_t">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="vin_t">
        <xs:restriction base="xs:string">
            <xs:maxLength value="33" />
        </xs:restriction>
    </xs:simpleType>

    <!-- definition of complex elements -->
    <!-- SDS Track ID definitions.      -->
    <xs:complexType name="SdsTrackIDStruct">
        <xs:sequence>
            <xs:element type="st:kluster_t"       name="kluster"/>
            <xs:element type="st:port_t"          name="port"/>
            <xs:element type="st:platform_t"      name="platform"/>
            <xs:element type="st:category_t"      name="category"/>
            <xs:element type="st:amplification_t" name="amplification"/>
            <xs:element type="st:site_t"          name="site"/>
            <xs:element type="st:radar_t"         name="radar"/>
            <xs:element type="st:trackID_t"       name="trackID"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Supplemental AIS Record structure. -->
    <xs:complexType name="sup_ais_data_t">
        <xs:sequence>
            <xs:element type="st:userId_t" name="userId"/>
            <xs:element type="st:navStatus_t" name="navStatus"/>
            <xs:element type="st:ROT_t" name="ROT"/>
            <xs:element type="st:bLessThan10MetersError_t" name="bLessThan10MetersError"/>
            <xs:element type="st:TypeOfPositionDevice_t" name="TypeOfPositionDevice"/>
            <xs:element type="st:lat_t" name="ReportLat"/>
            <xs:element type="st:lon_t" name="ReportLon"/>
            <xs:element type="st:bCenterPositionValid_t" name="bCenterPositionValid"/>
            <xs:element type="st:lat_t" name="CenterLat"/>
            <xs:element type="st:lon_t" name="CenterLon"/>
            <xs:element type="st:lat_t" name="corner1Lat"/>
            <xs:element type="st:lon_t" name="corner1Lon"/>
            <xs:element type="st:lat_t" name="corner2Lat"/>
            <xs:element type="st:lon_t" name="corner2Lon"/>
            <xs:element type="st:lat_t" name="corner3Lat"/>
            <xs:element type="st:lon_t" name="corner3Lon"/>
            <xs:element type="st:lat_t" name="corner4Lat"/>
            <xs:element type="st:lon_t" name="corner4Lon"/>
            <xs:element type="st:typeOfShip1_t" name="typeOfShip1"/>
            <xs:element type="st:typeOfShip2_t" name="typeOfShip2"/>
            <xs:element type="st:heading_t" name="trueHeading"/>
            <xs:element type="st:callSign_t" name="callSign"/>
            <xs:element type="st:name21_t" name="name"/>
            <xs:element type="st:dimensionLength_t" name="dimensionLength"/>
            <xs:element type="st:dimensionWidth_t" name="dimensionWidth"/>
            <xs:element type="st:month_t" name="ETAmonth"/>
            <xs:element type="st:day_t" name="ETAday"/>
            <xs:element type="st:hour_t" name="ETAhour"/>
            <xs:element type="st:minute_t" name="ETAminute"/>
            <xs:element type="st:maxDraught_t" name="maxDraught"/>
            <xs:element type="st:destination_t" name="destination"/>
            <xs:element type="st:altitude_t" name="altitudeGNSS"/>
            <xs:element type="xs:boolean" name="bSurfaceTrack" />
            <xs:element type="xs:boolean" name="bMobileTrack" />
            <xs:element type="xs:boolean" name="bSensorSite" />
            <xs:element type="xs:boolean" name="bClassA" />
        </xs:sequence>
    </xs:complexType>

    <!-- Vessel information element. -->
    <xs:complexType name="vessel_info_t">
        <xs:sequence>
        <xs:element type="st:name33_t" name="name"/>
        <xs:element type="st:TRK_Vessel_t" name="type" />
        <xs:element type="st:vin_t" name="vin"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Integrated Surface Track Structure -->
    <xs:complexType name="track_surf_t">
        <xs:sequence>
        <xs:element type="st:vessel_info_t" name="vi" />
        <xs:element type="xs:double" name="reportTime" />
        <xs:element type="xs:float" name="plotSize" />
        <xs:element type="xs:float" name="range" />
        <xs:element type="st:TRK_AcqMode_t" name="acquired" />
        <xs:element type="st:sup_ais_data_t" name="aisSup" />
        <xs:element type="xs:integer" name="returnQuality" />
        </xs:sequence>
    </xs:complexType>

    <!-- Integrated Air Display Track Structure -->
    <xs:complexType name="track_air_t">
        <xs:sequence>
        <xs:element type="xs:long" name="condition" />
        <xs:element type="xs:boolean" name="md_3a_validity" />
        <xs:element type="xs:boolean" name="md_c_validity" />
        <xs:element type="xs:short" name="Mode3A" />
        <xs:element type="xs:boolean" name="bMode2Valid" />
        <xs:element type="xs:short" name="mode2" />
        <xs:element type="xs:short" name="radar_num" />
        <!--xs:element type="st:name1_t" name="climbdir"/ calculate from climb -->
        <xs:element type="st:name33_t" name="callsign"/>
        <xs:element type="xs:double" name="extAAHorzSep" />
        <xs:element type="xs:int" name="extAAVertSep" />
        <xs:element type="xs:double" name="extAALookAhead" />
        <xs:element type="xs:double" name="extAAHorizBuf" />
        <xs:element type="xs:int" name="extAAVertExten" />
        <xs:element type="xs:int" name="extAADebugFlag" />
        <xs:element type="xs:int" name="extAAVertVel" />
        <xs:element type="xs:double" name="precisionAltDiff" />
        <xs:element type="xs:boolean" name="bPrecisionAltDiffSet" />
        <xs:element type="xs:boolean" name="bHDVertVel" />
        <xs:element type="xs:boolean" name="bHDHorizVel" />
        <xs:element type="xs:boolean" name="bHDDirChange" />
        <xs:element type="xs:boolean" name="bHighDynamic" />
        <xs:element type="xs:short" name="sensorMode3" />
        <xs:element type="xs:boolean" name="bSensorMode3Valid" />
        <xs:element type="xs:short" name="sensorMode2" />
        <xs:element type="xs:boolean" name="bSensorMode2Valid" />
        <xs:element type="xs:long" name="sensorCondition" />
        <xs:element type="st:sup_ais_data_t" name="aisSup" />
        </xs:sequence>
    </xs:complexType>

    <!-- Point structure - location of a point in 3-space -->
    <xs:complexType name="point_t3">
        <xs:sequence>
        <xs:element type="st:lat_t" name="lat"/>
        <xs:element type="st:lon_t" name="lon"/>
        <xs:element type="xs:double" name="alt" />
        </xs:sequence>
    </xs:complexType>

    <!-- Vector structure in 3-space -->
    <xs:complexType name="vector_t3">
        <xs:sequence>
        <xs:element type="st:heading_t" name="heading"/>
        <xs:element type="xs:float" name="speed" />
        <xs:element type="xs:float" name="climb" />
        </xs:sequence>
    </xs:complexType>

    <!-- Common Track Data Record Header -->
    <xs:complexType name="AllTrkHdr_t">
        <xs:sequence>
            <xs:element type="st:SdsTrackIDStruct" name="sdsTrackID" />
            <xs:element type="st:SdsTrackIDStruct" name="systemTrackID" />
            <xs:element type="st:point_t3" name="loc" />
            <xs:element type="st:vector_t3" name="vec" />
            <xs:element type="xs:boolean" name="bVecValid" />
            <xs:element type="xs:integer" name="status" />
            <xs:element type="xs:double" name="quality" />
            <xs:element type="xs:integer" name="SdsIndex" />
            <xs:element type="xs:boolean" name="bIgnoreAlarms" />
            <xs:element type="xs:double" name="time" />
            <xs:element type="xs:unsignedLong" name="playerListId" />
            <xs:element type="xs:boolean" name="bPlayerListIdValid" />
            <xs:element type="st:name33_t" name="remote_name"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Camera types not currently used -->
    <!--Camera ID.-->
    <xs:simpleType name="camera_id_request_t">
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="64" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="st:camera_id_request_t" name="camera_id_request"/>

    <!--Camera ID.-->
    <xs:simpleType name="camera_id_available_t">
        <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="18446744073709551615" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="st:camera_id_available_t" name="camera_id_available"/>

    <!-- SFL Info -->
    <xs:simpleType name="portalName_t">
        <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Air Track Message -->
    <xs:complexType name="ST_Track_air_t">
        <xs:sequence>
            <xs:element type="xs:integer" name="msgID" />
            <xs:element type="st:portalName_t" name="portalName" />
            <xs:element type="xs:double" name="msgTime" />
            <xs:element type="st:AllTrkHdr_t" name="hdr" />
            <xs:element type="st:track_air_t" name="air" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Surface Track Message -->
    <xs:complexType name="ST_Track_surf_t">
        <xs:sequence>
            <xs:element type="xs:integer" name="msgID" />
            <xs:element type="st:portalName_t" name="portalName" />
            <xs:element type="xs:double" name="msgTime" />
            <xs:element type="st:AllTrkHdr_t" name="hdr" />
            <xs:element type="st:track_surf_t" name="surf" />
        </xs:sequence>
    </xs:complexType>

    <!-- These are the elements that will make up a 'document'
         A document will have one & only one of the following. -->
    <xs:element type="st:ST_Track_surf_t" name="ST_Track_surf"/>
    <xs:element type="st:ST_Track_air_t" name="ST_Track_air"/>

</xs:schema>
